$montserratFontFanily: "Montserrat", serif;
$tableFieldHeaderFontWeight: 500;
$tableBorderColor: rgb(99 101 95);
$tableHeaderBorderColor: rgb(182 189 170);


$fontSmall: 300;
$fontRegular: 400;
$fontBold: 700;
$fontSemiBold: 600;

